@model FormControls_CoreMVC.Models.FormControlsViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>@ViewBag.Title</h2>
<hr />
<form asp-action="Edit" asp-controller="Home" method="post" class="form-horizontal">

    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input type="text" asp-for="Name" value="@Model.Name" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input type="email" asp-for="Email" value="@Model.Email" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Gender" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            @if (Model.Gender == "Male")
            {
                <input type="radio" asp-for="Gender" value="Male" checked id="male" />
                <label for="male">Male</label>
                <input type="radio" asp-for="Gender" value="Female" id="female" />
                <label for="female">Female</label>
            }
            else if (Model.Gender == "Female")
            {
                <input type="radio" asp-for="Gender" value="Male" id="male" />
                <label for="male">Male</label>
                <input type="radio" asp-for="Gender" value="Female" checked id="female" />
                <label for="female">Female</label>
            }
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Country" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Country" asp-items="@Model.Countries" class="form-control">
                <option selected="selected" value="@Model.Country"></option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Courses" class="col-md-2 control-label"></label>
        <div class="col-md-10" style="width:150px;">
            @for (int i = 0; i < Model.Courses.Count(); i++)
            {
                <div style="float:left">
                    <input type="checkbox" asp-for="Courses[i].Checked" />
                    <label asp-for="Courses[i].Checked">@Model.Courses[i].Name</label>
                    <input asp-for="Courses[i].ID" hidden />
                </div>
            }
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="Description" value="@Model.Description" class="form-control"></textarea>
        </div>
    </div>

    <input asp-for="@Model.UserID" hidden />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
</form>
